doctype html
html(lang="zh-cn")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1")
        title Alpha - Login
        link(type="text/css" rel="stylesheet" href = _conf.static_path + "admin.css")
    body
        main
            form(method="POST")
                div
                    input(type="text", placeholder="Username", name="username")
                div
                    input(type="password", placeholder="Password", name="passwd")
                p= message
                div
                    button(type="submit") Login!
