$header_width: 240px
$header_height: 180px
$av_size: 130px
.Header
    position: fixed
    width: $header_width
    overflow: hidden
    top: 0
    left: 0
    bottom: 0
    height: 100%
    position: fixed
    background-color: #FFFFFF
    > section
        width 100%
    .menu
        box-sizing: border-box
        position: absolute
        top: $header_height + 50px
        width: $header_width
        margin: 0
        text-align: right
        line-height: 1.7em
        > ul
            padding-top: 2em
            > li
                border-right: 3px rgb(51,51,51) solid
                padding-right: 1em
                list-style: none
                line-height: 1em
                margin: 2rem 0
                a
                    border-bottom: none

.avatar
    height: $header_height
    background-color: #333
    background-image: url(../../assert/header.png)
    position: absolute
    width: 100%
    top: 0
    > .av-pic
        display: block
        width: $av_size
        height: $av_size
        margin-top: $header_height - ($av_size / 2)
        margin-left: auto
        margin-right: auto
        border-radius: 50%
        background-color: #FFFFFF
        background-image: url(../../assert/tree_small.png)
        background-size: 100%