.ListView
    margin-bottom: 7em
    .title
        text-align: center
        h1
            font-size: 1.8rem
            font-weight: 400
            margin-bottom: 0.3em
            line-height: 125%
        a
            border-bottom: none
            color: #111
            &:hover
                color: #0e0e0e
                border-bottom: 1px #0e0e0e solid
.ListMeta
    font-size: 0.8em
    color: #bbb
    margin-bottom: 2.5em
    &:hover
        color: #333

.more-link
    a
        border-bottom-width: 2px
